# Base
tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg

# Pytorch
torch
torchvision 
torchaudio

# LangChain
langchain[all]

ctransformers
transformers
sentence-transformers
accelerate
diffusers
scipy
safetensors
tokenizers 
bitsandbytes 
einops

# Hugging Face
huggingface_hub

# NeRF

# Jupyter
jupyter==1.0.0
jupyter_collaboration